img{
  display: block;
}

body {
  
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;

}
.header{
  border-bottom: 1px solid #e7e9fc;
}
.container{
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.box-one{
  display: flex;
}
.nav-barone{
  display: flex;
  align-items: center;

}
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;

}
.logo-style{
  color: #2e2f42;

}
.ul-one{
  display: flex;
  gap: 40px;

}
.nav-bar {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.nav-bar:hover {
  color: #404bbf;
}
.nav-bar:focus {
  color: #404bbf;
}
.ul-adress{
  display: flex;
  gap: 40px;
}
.address {
  font-style: normal;
}
.adress-a{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;  
}
.adress-a:hover{
  color: #404bbf;
}
.adress-a:focus{
  color: #404bbf;
}
.section-one{
  background-color: #2e2f42;
  padding: 188px 0;
}
.title{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;  
  max-width: 496px;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff ;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}  
.section-two{
  padding: 120px 0;
}
.ul-two{
  display: flex;
  gap: 24px;

}
.li-sectiontwo{
  width: calc((100%-72px)/4);

}
.title-sectiontwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;

}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}

.section-three{
  background-color: #f4f4fd;
  padding: 120px 0;

}
.title-sectionthree{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.ul-three{
  display: flex;
  gap: 24px;
}

.team{
  background-color: #ffffff;
  width: calc((100%-72px)/4);
  border-radius: 0px 0px 4px 4px;
}
.li-div{
  padding: 32px 0;
}

.title-three{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;

}
.text-three{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.section-four{
  padding: 120px 0;
}
.ul-four{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.li-four{
  width: calc((100%-72px)/4);
}
.li-divfour{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.title-four{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.title-three-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-four {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer{
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-text{
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;

}
.footer .logo{
  display: inline-block;
  margin-bottom: 16px;

}
.footer .logo-span {
  color: #F4F4FD;
}
